:root {
  --heading-font: 'Noto Serif', serif;
  --body-font: 'Poppins', sans-serif;
  --branding-color: #1d506c;
  --secondary-color: #f0eff5;
}

body {
  font-family: var(--body-font);
  background: #f8f9fa;
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  font-style: italic;
}

h2 {
  font-size: 48px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  /* line-height: 30px; */
  font-size: 16px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 180px 20px;
}

.hero h2 {
  font-family: var(--body-font);
  font-size: 24px;
  line-height: 2;
  color: #272142;
  opacity: 85%;
  font-weight: normal;
}

.hero p {
  color: #272142;
  opacity: 85%;
}

.wrap {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
}

.btn-branding {
  background: var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--secondary-color);
  line-height: 27px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  color: var(--branding-color);
  background: var(--secondary-color);
  border: 2px solid var(--branding-color);
}

.skills img {
  width: 50px;
}

.skills p {
  font-size: 18px;
  color: var(--branding-color);
  font-weight: bold;
}

h3 .fas {
  color: var(--branding-color);
}

.project-description {
  padding: 0 60px 60px;
}

.btn-branding-outline {
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.content-container {
  padding: 80px 20px;
}

.content-container h1 {
  font-size: 64px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--body-font);
  color: #272142;
  opacity: 85%;
  font-weight: normal;
}

.content {
  margin: 40px 100px;
}

.content-container p {
  opacity: 70%;
  font-size: 14px;
}

.me-photo {
  border-radius: 11px;
}

.content-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.projects .row {
  margin-bottom: 40px;
}

.projects .fa-react {
  color: #61dafb;
}

.projects h2 {
  font-size: 44px;
  line-height: 1.5;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 500px;
  padding: 30px 0;
  margin-top: 50px;
}

/* NAVBAR */

.navbar {
  background: #f8f9fa;
}

.nav-link .active {
  color: var(--branding-color) !important;
}

.navbar a {
  color: var(--secondary-color);
}

/* FOOTER */
.contact-box {
  padding: 30px 300px;
  background: var(--secondary-color);
}

.email-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  font-size: 24px;
}

.email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  color: var(--branding-color);
  font-size: 35px;
  border-radius: 50%;
  background: #eeeeee;
  padding: 8px 18px;
  margin: 0 20px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--branding-color);
  color: #f8f9fa;
  transform: translateY(6px);
}

footer p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

footer p a {
  color: var(--secondary-color);
}

footer p a:hover {
  text-decoration: underline;
  color: #be84f5;
}

.contact-info {
  background: var(--branding-color);
  color: rgba(255, 255, 255, 0.65);
  padding-top: 30px;
}

.lets-connect {
  display: flex;
  justify-content: space-around;
}

.form,
.text-part {
  width: 50%;
}

.form input,
.form #textarea {
  border-radius: 3px;
}

.form #textarea {
  height: 150px;
  width: 100%;
}

.form #textarea,
.form input {
  border: 2px solid var(--branding-color);
  display: block;
  padding: 0.5rem 0.6rem 0.5rem;
  margin-bottom: 0.75em;
  text-align: center;
}

.form input {
  font-family: inherit;
  text-align: inherit;
  width: 100%;
}

@media (max-width: 900px) {
  .project-description {
    padding: 20px 0;
    text-align: center;
  }

  .content {
    margin: 0;
  }

  h1 {
    font-size: 56px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    background: var(--secondary-color);
    text-align: center;
    /* padding: 90px 10px; */
  }

  .hero h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  .hero .view-projects {
    display: none;
  }

  .wrap {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .skills img {
    width: 30px;
  }

  .skills p {
    font-size: 12px;
    color: var(--branding-color);
    font-weight: bold;
  }

  .me-photo {
    margin-top: 50px;
  }

  .content-container {
    text-align: center;
    padding-top: 90px;
  }
  .content-container h1 {
    font-size: 45px;
  }

  .content-container p {
    padding-bottom: 30px;
  }

  footer p {
    font-size: smaller;
  }

  footer .social-links a {
    font-size: 18px;
    padding: 10px 14px;
  }

  .projects .row {
    margin-bottom: 0;
  }
}
